In [48]:
import pandas as pd

In [49]:
#province data

df_pro=pd.DataFrame(columns=['دیم','آبی','کل','استان'])

for i in range(1,31):
    df_i=pd.read_excel(r'C:\Users\a\Documents\Python\Lotus\Excel\agri93- ('+str(i)+').xls', sheet_name='t26')
    df_i.dropna(how='all', inplace=True)
    Provinces=[(df_i.iloc[0,2].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,5,6], inplace=True)
    df_i.drop(df_i.columns[[0,1,2,4,6,8]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    df_i['استان']=Provinces
    df_pro=pd.concat([df_pro,df_i])

In [50]:
#city data wheat

df_city_wheat=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'C:\Users\a\Documents\Python\Lotus\Excel\agri93- ('+str(i)+').xls', sheet_name='t27')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_wheat=pd.concat([df_city_wheat,df_i])

In [51]:
#city data Barley

df_city_barley=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'C:\Users\a\Documents\Python\Lotus\Excel\agri93- ('+str(i)+').xls', sheet_name='t31')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_barley=pd.concat([df_city_barley,df_i])

In [52]:
df_city_barley['محصول']='جو'
df_city_wheat['محصول']='گندم'
df_wb=pd.concat([df_city_wheat,df_city_barley])
df_wb['شهرستان']=df_wb.index
df_wb.reset_index(drop=True, inplace=True)

In [53]:
df_pro['استان']=df_pro['استان'].str.replace('استان ','')
df_pro['محصول']=df_pro.index
df_pro.reset_index(drop=True, inplace=True)
df_pro

0       دیم      آبی       کل         استان محصول
0    200890   111316   312206         مرکزي   کل
1    187423  36994.7   224418         مرکزي  گندم
2   10378.2  33784.7  44162.9         مرکزي    جو
3   17593.2   129309   146903         گيلان   کل
4   7578.31  168.099  7746.41         گيلان  گندم
..      ...      ...      ...           ...   ...
85  93301.1  39594.1   132895  خراسان شمالي  گندم
86  34845.7  25233.9  60079.6  خراسان شمالي    جو
87  11773.8  62324.6  74098.4  خراسان جنوبي   کل
88  8690.32    18179  26869.3  خراسان جنوبي  گندم
89  1562.55  18722.7  20285.3  خراسان جنوبي    جو

[90 rows x 5 columns]

In [55]:
df_total=pd.concat([df_wb,df_pro])
df_total.reset_index(drop=True, inplace=True)
df_total

         دیم      آبی       کل محصول شهرستان         استان
0    20863.9  6666.67  27530.6  گندم    اراک           NaN
1    20940.4   74.615    21015  گندم  آشتيان           NaN
2    4903.35  706.277  5609.62  گندم    تفرش           NaN
3    12362.5  4939.69  17302.2  گندم    خمين           NaN
4    5733.74  1946.76  7680.51  گندم   خنداب           NaN
..       ...      ...      ...   ...     ...           ...
931  93301.1  39594.1   132895  گندم     NaN  خراسان شمالي
932  34845.7  25233.9  60079.6    جو     NaN  خراسان شمالي
933  11773.8  62324.6  74098.4   کل      NaN  خراسان جنوبي
934  8690.32    18179  26869.3  گندم     NaN  خراسان جنوبي
935  1562.55  18722.7  20285.3    جو     NaN  خراسان جنوبي

[936 rows x 6 columns]