In [22]:
import pandas as pd

In [32]:
#province data

df_pro=pd.DataFrame(columns=['دیم','آبی','کل','استان'])

for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t26')
    
    df_i.dropna(how='all', inplace=True)
    Provinces=[(df_i.iloc[0,2].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,5,6], inplace=True)
    df_i.drop(df_i.columns[[0,1,2,4,6,8]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    df_i['استان']=Provinces
    df_pro=pd.concat([df_pro,df_i])

In [33]:
df_pro['استان']=df_pro['استان'].str.replace('استان ','')
df_pro['محصول']=df_pro.index
df_pro.reset_index(drop=True, inplace=True)
df_pro=df_pro[['دیم', 'آبی', 'کل', 'محصول', 'استان']]

In [34]:
df_pro

0       دیم      آبی       کل محصول         استان
0    200890   111316   312206   کل          مرکزي
1    187423  36994.7   224418  گندم         مرکزي
2   10378.2  33784.7  44162.9    جو         مرکزي
3   17593.2   129309   146903   کل          گيلان
4   7578.31  168.099  7746.41  گندم         گيلان
..      ...      ...      ...   ...           ...
85  93301.1  39594.1   132895  گندم  خراسان شمالي
86  34845.7  25233.9  60079.6    جو  خراسان شمالي
87  11773.8  62324.6  74098.4   کل   خراسان جنوبي
88  8690.32    18179  26869.3  گندم  خراسان جنوبي
89  1562.55  18722.7  20285.3    جو  خراسان جنوبي

[90 rows x 5 columns]

In [35]:
#city data wheat

df_city_wheat=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t27')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_wheat=pd.concat([df_city_wheat,df_i])

In [36]:
#city data Barley

df_city_barley=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t31')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_barley=pd.concat([df_city_barley,df_i])

In [37]:
df_city_barley['محصول']='جو'
df_city_wheat['محصول']='گندم'
df_wb=pd.concat([df_city_wheat,df_city_barley])
df_wb['شهرستان']=df_wb.index
df_wb.reset_index(drop=True, inplace=True)

In [44]:
#df_total=pd.concat([df_wb,df_pro])
#df_total.reset_index(drop=True, inplace=True)
#df_total

In [46]:
df_pro['کلید']=df_pro['محصول']+df_pro['استان']
df_pro

0       دیم      آبی       کل محصول         استان              کلید
0    200890   111316   312206   کل          مرکزي          کل مرکزي
1    187423  36994.7   224418  گندم         مرکزي         گندممرکزي
2   10378.2  33784.7  44162.9    جو         مرکزي           جومرکزي
3   17593.2   129309   146903   کل          گيلان          کل گيلان
4   7578.31  168.099  7746.41  گندم         گيلان         گندمگيلان
..      ...      ...      ...   ...           ...               ...
85  93301.1  39594.1   132895  گندم  خراسان شمالي  گندمخراسان شمالي
86  34845.7  25233.9  60079.6    جو  خراسان شمالي    جوخراسان شمالي
87  11773.8  62324.6  74098.4   کل   خراسان جنوبي   کل خراسان جنوبي
88  8690.32    18179  26869.3  گندم  خراسان جنوبي  گندمخراسان جنوبي
89  1562.55  18722.7  20285.3    جو  خراسان جنوبي    جوخراسان جنوبي

[90 rows x 6 columns]

In [48]:
df_source=pd.read_excel('خلاصه.xlsx')
df_source

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,سرشمار مرکز آمار ايران براي سطح کشت محصولات,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,استان/منطقه,NaN,کد,NaN,محصول,NaN,سطح‏,NaN,NaN,NaN,شهرستان,محصول,سطح‏ کشت,NaN,NaN
1,نام,کد,استان,شهرستان,نام,کد,آبى‏,ديم‏,جمع‏,NaN,نام,نام,آبى‏,ديم‏,جمع‏
2,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
3,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
4,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
1338,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
1339,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
1340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df_source.drop([0], inplace=True)

KeyError: '[0] not found in axis'

In [59]:
df_source.columns=df_source.iloc[0]
df_source.drop([1], inplace=True)

In [60]:
df_source

1,نام,کد,استان,شهرستان,نام,کد,آبى‏,ديم‏,جمع‏,NaN,نام,نام,آبى‏,ديم‏,جمع‏
2,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
3,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
4,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
5,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN
6,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
1338,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
1339,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
1340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
#df_source['کلید']=
df_source['کلید']=df_source.iloc[:,[10]]+df_source.iloc[:,[11]]

In [73]:
df_source.head()

1,نام,کد,استان,شهرستان,نام,کد,آبى‏,ديم‏,جمع‏,NaN,نام,نام,آبى‏,ديم‏,جمع‏,کلید
2,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN,مرکزى‏گندم‏
3,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN,مرکزى‏جو
4,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN,مرکزى‏کل محصولات
5,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN,ا‏راکگندم‏
6,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN,ا‏راکجو

In [75]:
df_source.set_index('کلید', inplace=True)
df_source

1,نام,کد,استان,شهرستان,نام,کد,آبى‏,ديم‏,جمع‏,NaN,نام,نام,آبى‏,ديم‏,جمع‏
کلید,,,,,,,,,,,,,,,
مرکزى‏گندم‏,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
مرکزى‏جو,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
مرکزى‏کل محصولات,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
ا‏راکگندم‏,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN
ا‏راکجو,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
کل‏ کشورگندم‏,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
کل‏ کشورجو,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
کل‏ کشورکل محصولات,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
df_pro.set_index('کلید', inplace=True)

In [87]:
df_pro.columns=['آبی',    'دیم',    'جمع', 'محصول', 'استان']

In [88]:
df_source.columns=[    'استان1',      'کد1',   'استان1', 'شهرستان1',     'محصول1',      '1کد',
          'آبى1‏',    'ديم1‏',    'جمع1‏',       'منطقه2',     'استان',     'محصول',
          'آبی',    'دیم',    'جمع']

In [96]:
df_source

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,استان,محصول,آبی,دیم,جمع
کلید,,,,,,,,,,,,,,,
مرکزى‏گندم‏,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
مرکزى‏جو,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
مرکزى‏کل محصولات,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
ا‏راکگندم‏,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN
ا‏راکجو,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
کل‏ کشورگندم‏,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
کل‏ کشورجو,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
کل‏ کشورکل محصولات,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
result = pd.merge(df_source, df_pro, left_index=True, right_index=True)

In [101]:
result

Empty DataFrame
Columns: [استان1, کد1, استان1, شهرستان1, محصول1, 1کد, آبى1‏, ديم1‏, جمع1‏, منطقه2, استان_x, محصول_x, آبی_x, دیم_x, جمع_x, آبی_y, دیم_y, جمع_y, محصول_y, استان_y]
Index: []

In [125]:
df1=df_source.merge(df_pro, left_on=df_source.index)

TypeError: object of type 'NoneType' has no len()

In [121]:
df1

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,استان,محصول,آبی,دیم,جمع
0,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
1,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
2,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
3,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN
4,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
1336,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
1337,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
1338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1339,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN