In [2]:
import pandas as pd

In [3]:
#province data

df_pro=pd.DataFrame(columns=['دیم','آبی','کل','استان'])

for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t26')
    
    df_i.dropna(how='all', inplace=True)
    Provinces=[(df_i.iloc[0,2].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,5,6], inplace=True)
    df_i.drop(df_i.columns[[0,1,2,4,6,8]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    df_i['استان']=Provinces
    df_pro=pd.concat([df_pro,df_i])

In [4]:
df_pro['استان']=df_pro['استان'].str.replace('استان ','')
df_pro['محصول']=df_pro.index
df_pro.reset_index(drop=True, inplace=True)
df_pro=df_pro[['دیم', 'آبی', 'کل', 'محصول', 'استان']]

In [33]:

df_pro['کلید']=df_pro['استان']+df_pro['محصول']
df_pro['کلید']=df_pro['کلید'].str.replace('ك','ک')
df_pro['کلید']=df_pro['کلید'].str.replace('ي','ی')
df_pro['کلید']=df_pro['کلید'].str.replace('ئ','ی')
df_pro['کلید']=df_pro['کلید'].str.replace(' ','')
df_pro['کلید']=df_pro['کلید'].str.replace('‌','')
df_pro

        آبی      دیم      جمع محصول         استان             کلید
0    200890   111316   312206   کل          مرکزي          مرکزیکل
1    187423  36994.7   224418  گندم         مرکزي        مرکزیگندم
2   10378.2  33784.7  44162.9    جو         مرکزي          مرکزیجو
3   17593.2   129309   146903   کل          گيلان          گیلانکل
4   7578.31  168.099  7746.41  گندم         گيلان        گیلانگندم
..      ...      ...      ...   ...           ...              ...
85  93301.1  39594.1   132895  گندم  خراسان شمالي  خراسانشمالیگندم
86  34845.7  25233.9  60079.6    جو  خراسان شمالي    خراسانشمالیجو
87  11773.8  62324.6  74098.4   کل   خراسان جنوبي    خراسانجنوبیکل
88  8690.32    18179  26869.3  گندم  خراسان جنوبي  خراسانجنوبیگندم
89  1562.55  18722.7  20285.3    جو  خراسان جنوبي    خراسانجنوبیجو

[90 rows x 6 columns]

In [6]:
df_pro.columns=['آبی',    'دیم',    'جمع', 'محصول', 'استان', 'کلید']

In [7]:
#city data wheat

df_city_wheat=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t27')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_wheat=pd.concat([df_city_wheat,df_i])

In [8]:
#city data Barley

df_city_barley=pd.DataFrame(columns=['دیم','آبی','کل'])
#    i=1
for i in range(1,31):
    df_i=pd.read_excel(r'Excel\agri93- ('+str(i)+').xls', sheet_name='t31')
    df_i.dropna(how='all', inplace=True)
    #Provinces=[(df_i.iloc[0,1].split('(')[1].split(')')[0])]*3
    
    df_i.dropna(thresh=2, inplace=True)
    
    df_i.reset_index(inplace=True, drop=True)
    df_i.drop([1,2], inplace=True)
    df_i.drop(df_i.columns[[0,2,4,6]], axis=1, inplace=True)
    df_i.dropna(how='all', axis=1, inplace=True)

    df_i.columns=df_i.iloc[0]
    df_i.drop([0], inplace=True)
    df_i.set_index(list(df_i.columns[[3]]), inplace=True)
    
    #df_i['استان']=Provinces
    df_city_barley=pd.concat([df_city_barley,df_i])

In [9]:
df_city_barley['محصول']='جو'
df_city_wheat['محصول']='گندم'
df_wb=pd.concat([df_city_wheat,df_city_barley])
df_wb['شهرستان']=df_wb.index
df_wb.reset_index(drop=True, inplace=True)

In [76]:
df_wb['کلید']=df_wb['شهرستان']+df_wb['محصول']
df_wb['کلید']=df_wb['کلید'].str.replace('ك','ک')
df_wb['کلید']=df_wb['کلید'].str.replace('ي','ی')
df_wb['کلید']=df_wb['کلید'].str.replace(' ','')
df_wb['کلید']=df_wb['کلید'].str.replace('‌','')
df_wb

0        دیم      آبی       کل محصول  شهرستان        کلید
0    20863.9  6666.67  27530.6  گندم     اراک    اراکگندم
1    20940.4   74.615    21015  گندم   آشتيان  آشتیانگندم
2    4903.35  706.277  5609.62  گندم     تفرش    تفرشگندم
3    12362.5  4939.69  17302.2  گندم     خمين    خمینگندم
4    5733.74  1946.76  7680.51  گندم    خنداب   خندابگندم
..       ...      ...      ...   ...      ...         ...
841  104.125  1329.54  1433.67    جو   سربيشه    سربیشهجو
842          2294.79  2295.79    جو      طبس       طبسجو
843   76.664  961.551  1038.22    جو    فردوس     فردوسجو
844  498.773  1875.42  2374.19    جو   قائنات    قائناتجو
845  408.203  2333.91  2742.11    جو  نهبندان   نهبندانجو

[846 rows x 6 columns]

In [10]:
#df_total=pd.concat([df_wb,df_pro])
#df_total.reset_index(drop=True, inplace=True)
#df_total

In [11]:
df_source=pd.read_excel('خلاصه.xlsx')

In [12]:
df_source.drop([0], inplace=True)
df_source.columns=df_source.iloc[0]
df_source.drop([1], inplace=True)

In [13]:
df_source.columns=[    'استان1',      'کد1',   'استان1', 'شهرستان1',     'محصول1',      '1کد',
          'آبى1‏',    'ديم1‏',    'جمع1‏',       'منطقه2',     'استان',     'محصول',
          'آبی',    'دیم',    'جمع']

In [14]:
df_source

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,استان,محصول,آبی,دیم,جمع
2,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN
3,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN
4,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل محصولات,NaN,NaN,NaN
5,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN
6,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN
1338,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN
1339,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل محصولات,NaN,NaN,NaN
1340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
df_source['محصول']=df_source['محصول'].replace('کل محصولات', 'کل')
df_source['کلید']=df_source['استان']+df_source['محصول']
df_source['کلید']=df_source['کلید'].str.replace('ك','ک')
df_source['کلید']=df_source['کلید'].str.replace('ي','ی')
df_source['کلید']=df_source['کلید'].str.replace('ى','ی')
df_source['کلید']=df_source['کلید'].str.replace(' ','')
df_source['کلید']=df_source['کلید'].str.replace('‌','')
df_source['کلید']=df_source['کلید'].str.encode("utf_8").str.decode('utf_8').str.replace('\u200f','')
df_source

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,استان,محصول,آبی,دیم,جمع,کلید
2,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزى‏,گندم‏,NaN,NaN,NaN,مرکزیگندم
3,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزى‏,جو,NaN,NaN,NaN,مرکزیجو
4,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزى‏,کل,NaN,NaN,NaN,مرکزیکل
5,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,ا‏راک,گندم‏,NaN,NaN,NaN,اراکگندم
6,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,ا‏راک,جو,NaN,NaN,NaN,اراکجو
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1337,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کل‏ کشور,گندم‏,NaN,NaN,NaN,کلکشورگندم
1338,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کل‏ کشور,جو,NaN,NaN,NaN,کلکشورجو
1339,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کل‏ کشور,کل,NaN,NaN,NaN,کلکشورکل
1340,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
result1 = df_source[df_source['شهرستان1']==0].merge(df_pro, how='left', on='کلید')
result1.drop(columns=['محصول_x',	'آبی_x',	'دیم_x', 'جمع_x','استان_x'], inplace=True)

In [94]:
result2 = df_source[df_source['شهرستان1']!=0].merge(df_wb, how='left', on='کلید')
result2.drop(columns=['محصول_x',	'آبی_x',	'دیم_x','جمع', 'استان'], inplace=True)

In [96]:
result1

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,کلید,آبی_y,دیم_y,جمع_y,محصول_y,استان_y
0,مرکزى‏,0,0,0,گندم‏,102,65000.5,145001,210002,استان,مرکزیگندم,187423,36994.7,224418,گندم,مرکزي
1,مرکزى‏,0,0,0,جو,104,39506.9,11841,51347.9,استان,مرکزیجو,10378.2,33784.7,44162.9,جو,مرکزي
2,مرکزى‏,0,0,0,کل محصولات,199,164781,165650,330431,استان,مرکزیکل,200890,111316,312206,کل,مرکزي
3,گيلان‏,100,1,0,گندم‏,102,67.6,8112.3,8179.9,استان,گیلانگندم,7578.31,168.099,7746.41,گندم,گيلان
4,گيلان‏,100,1,0,جو,104,59.5,6737.4,6796.9,استان,گیلانجو,3670.53,116.055,3786.58,جو,گيلان
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,البرز,3200,32,0,جو,104,8817.7,0,8817.7,NaN,البرزجو,NaN,NaN,NaN,NaN,NaN
95,البرز,3200,32,0,کل محصولات,199,42991.6,9,43000.6,NaN,البرزکل,NaN,NaN,NaN,NaN,NaN
96,کل‏ کشور,9900,99,0,گندم‏,102,2.25571e+06,3.80554e+06,6.06125e+06,NaN,کلکشورگندم,NaN,NaN,NaN,NaN,NaN
97,کل‏ کشور,9900,99,0,جو,104,710134,1.00293e+06,1.71306e+06,NaN,کلکشورجو,NaN,NaN,NaN,NaN,NaN
98,کل‏ کشور,9900,99,0,کل محصولات,199,6.13242e+06,5705487,1.18379e+07,NaN,کلکشورکل,NaN,NaN,NaN,NaN,NaN

In [97]:
result2

,استان1,کد1,استان1,شهرستان1,محصول1,1کد,آبى1‏,ديم1‏,جمع1‏,منطقه2,کلید,دیم_y,آبی_y,کل,محصول_y,شهرستان
0,ا‏راک,1,0,1,گندم‏,102,9051.2,17268.1,26319.3,شهرستان,اراکگندم,20863.9,6666.67,27530.6,گندم,اراک
1,ا‏راک,1,0,1,جو,104,7870.8,974.6,8845.4,شهرستان,اراکجو,2764.7,9037.71,11802.4,جو,اراک
2,ا‏راک,1,0,1,کل محصولات,199,28512.1,19216.4,47728.5,شهرستان,اراککل,NaN,NaN,NaN,NaN,NaN
3,آشتيا‏ن‏,2,0,2,گندم‏,102,483,22753.7,23236.7,شهرستان,آشتیانگندم,20940.4,74.615,21015,گندم,آشتيان
4,آشتيا‏ن‏,2,0,2,جو,104,271.3,569.2,840.5,شهرستان,آشتیانجو,245.25,175.018,420.269,جو,آشتيان
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1236,فردیس,3206,32,6,گندم‏,102,104.3,0,104.3,NaN,فردیسگندم,NaN,NaN,NaN,NaN,NaN
1237,فردیس,3206,32,6,جو,104,98.9,0,98.9,NaN,فردیسجو,NaN,NaN,NaN,NaN,NaN
1238,فردیس,3206,32,6,کل محصولات,199,1067.29,0,1067.29,NaN,فردیسکل,NaN,NaN,NaN,NaN,NaN
1239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11057.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
result2.columns=result1.columns
output_cult=pd.concat([result1,result2])

In [101]:
output_cult.to_excel('output_cult.xlsx')